$cyan: #7dcfff; 
$light-blue: #b4f9f8;
$blue: #7aa2f7;
$gray: #9699a3;
$lavender: #c0caf5;
$dark-purple: #565f89;


nav {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-size: 1.2em;
    color: $cyan;
    
    .links-container {
        display: flex;
        justify-content: space-around;
        width: 25%;
    }
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: $lavender;

    .core-content {
        width: 50%;
        margin-right: 25%;

        .hero {
            margin-top: 5em;
            h1 {
                font-size: 1.85em;
                color: $cyan;
                margin: 0;
            }

            h2 {
                font-size: 5.5em;
                margin: 0;
                color: $dark-purple;
            }

            h3 {
                font-size: 3.5em;
                margin: 0;
            }

            p {
                font-size: 1.2em;
                width: 50%;
                line-height: 1.75em;
            }
        }

        .about {
            margin-top: 15em;
            p {
                width: 75%;
                line-height: 1.75em;
            }

            .about-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: 
                    "description photo"
                    "icons icons";

                .about-bio {
                    grid-area: description;
                }

                .photo {
                    grid-area: photo;
                }

                .skills {
                    grid-area: icons;
                }
            }
        }

        .projects {
            .project-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
            }
        }
    }

    .social-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}