@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter/static/Inter-Black.ttf);
  src: url(./assets/fonts/Inter/static/Inter-Bold.ttf);
  src: url(./assets/fonts/Inter/static/Inter-ExtraBold.ttf);
  src: url(./assets/fonts/Inter/static/Inter-ExtraLight.ttf);
  src: url(./assets/fonts/Inter/static/Inter-Light.ttf);
  src: url(./assets/fonts/Inter/static/Inter-Medium.ttf);
  src: url(./assets/fonts/Inter/static/Inter-Regular.ttf);
  src: url(./assets/fonts/Inter/static/Inter-SemiBold.ttf);
  src: url(./assets/fonts/Inter/static/Inter-Thin.ttf);
}

body {
  background-color: #1a1b26;
}